#experience {
  position: relative;
  min-height: 95vh;
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#experienceBody {
  background-color: rgb(0, 0, 150);
  width: 80%;
  height: 80%;
  color: white;
  border: 1px solid transparent;
  box-shadow: 0 0 50px 5px white;
}

#experienceBody .section-header {
  text-align: center;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

#experienceCardGrid {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

#experienceCardGrid #experienceCardHolder1 {
  width: 500px;
  height: 300px;
}

#experienceCardGrid #experienceCardHolder2 {
  width: 500px;
  height: 300px;
}

@media only screen and (max-width: 500px) {
  #experience {
    margin-top: 140px;
  }
  #experienceBody {
    width: 100%;
    height: auto;
  }
  #experienceCardGrid {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    /* justify-content: space-around; */
  }
  #experienceCardGrid #experienceCardHolder1 {
    width: 60%;
    height: 300px;
  }
  
  #experienceCardGrid #experienceCardHolder2 {
    width: 60%;
    height: 300px;
  }
}
