#experience {
  position: relative;
  min-height: 95vh;
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#experienceBody {
  background-color: rgb(24, 115, 214);
  width: 80%;
  height: 80%;
  color: white;
  border: 1px solid transparent;
  box-shadow: 0 0 15px 0 white;
  border-radius: 20px;
}

#experienceBody .section-header {
  text-align: center;
  border-bottom: 2px solid white;
  padding: 10px 0;
  height: 10%;
  margin: 0;
}

#experienceCardGrid {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100%;
  justify-content: space-around;
}

#experienceCardGrid #experienceCardHolder1 {
  position: relative;
  margin: auto;
  width: 40%;
  height: 90%;
}

#experienceCardGrid #experienceCardHolder2 {
  position: relative;
  margin: auto;
  width: 40%;
  height: 90%;
}

@media only screen and (max-width: 500px) {
  #experience {
    margin-top: 140px;
  }
  #experienceBody {
    width: 90%;
    height: 80%;
  }
  #experienceBody .section-header {
    text-align: center;
    border-bottom: 2px solid white;
    padding: 0;
    height: 5%;
    margin: 0;
  }
  #experienceCardGrid {
    display: flex;
    flex-direction: column;
    height: 92%;
    width: 100%;
    align-items: center;
  }
  #experienceCardGrid #experienceCardHolder1, #experienceCardGrid #experienceCardHolder2 {
    width: 90%;
    height: 50%;
    margin-top: 10px;
  }
}
