.expDiv {
  position: absolute;
  z-index: 9;
  background-color: white;
  text-align: center;
  border: 4px solid white;
  border-radius: 2%;
  color: black;
  height: 100%;
  width: 100%;
}

.expDivheader {
  height: 10%;
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #7BC6FC;
  color: white;
  border-radius: 5% 5% 0 0;
}

.expImgDiv{
  position: relative;
  height: 75%;
}

.expImg {
  width: 100%;
  height: 100%;
}

.expOverlay {
  position: absolute;
  background-color: rgba(0, 0, 155, 0.3);
  width: 100%;
  height: 100%;
}

.expFooter {
  height: 15%;
  padding: 10px;
  z-index: 10;
  cursor: move;
  background-color: #7BC6FC;
  color: white;
  border-radius: 0 0 5% 5%;
}

.expFooter h4, .expFooter p {
  margin: 0;
}

.expFooter p {
  margin: 0;
}

@media only screen and (max-width: 500px) {
  .expDivheader{
    padding: 0;
  }
  .expImg {
    height: 75%;
  }
  .expFooter {
    padding: 0;
  }
  .expFooter h4 {
    font-size: 15px;
  }
  .expFooter p {
    font-size: 15px;
  }
}