#footer {
  position: relative;
  height: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(199, 227, 251);
  margin: 3rem auto 0 auto;
}

.s-list {
  grid-column: 1 / 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  align-items: center;
  margin: 0;
}

.social-list-item {
  display: inline-block;
  color: #7BC6FC;
  margin: 0 0;
}

.social-list-item-link {
  max-height: 100px;
  max-width: 100px;
  height: 100%;
  width: 100%;
  margin: 0;
}

.social-list-item-link img {
  max-height: 3rem;
  max-width: 100px;
  height: 100%;
  object-fit: cover;
}

#footerPopUp {
  position: absolute;
  bottom: 4rem;
  right: 5rem;
  background-color: rgb(24, 115, 214);
  height: auto;
  width: auto;
  max-width: 12rem;
  border: 1px solid white;
  border-radius: 3%;
}

#footerPopUp::after {
  content: '';
  margin: 0;
  padding: 0;
  border-top: 10px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  bottom: -20px;
  right: 3px;
}

.footerPopUpOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.skills-btn {
  border: 0.05rem solid rgb(24, 115, 214);
  border-radius: 0.25rem;
  grid-column: 2 / -1;
  font-size: 1.2rem;
  padding: 0;
  background-color: transparent;
  color: rgb(24, 115, 214);
  float: right;
  margin: 1rem 2rem auto 0;
  padding: 5px;
  z-index: 101;
  box-shadow: 0 0 5px 0 rgba(24, 115, 214, 0.2);
}

.skills-btn:hover {
  border: 0.05rem solid white;
  color: white;
  background-color: rgb(24, 115, 214);
  box-shadow: 0 0 5px 1px rgba(24, 115, 214, 0.6);
}

.skills-btn-fixed {
  position: fixed;
  bottom: 1.25rem;
  right: 0;
  border: 0.05rem solid white;
  background-color: rgb(24, 115, 214);
  color: white;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}

.skill-list-item {
  padding: 10px;
  color: white;
  margin: 0;
  width: auto;
  text-align: center;
  border-collapse: collapse;
  border-radius: 5%;
}

@media only screen and (max-width: 500px) {
  #footerPopUp {
    right: 2rem;
  }

  .skills-btn:hover {
    border: 0.05rem solid rgb(24, 115, 214);
    border-radius: 0.25rem;
    grid-column: 2 / -1;
    font-size: 1.2rem;
    padding: 0;
    background-color: transparent;
    color: rgb(24, 115, 214);
    float: right;
    margin: 1rem 2rem auto 0;
    padding: 5px;
    z-index: 101;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.5rem rgba(0, 0, 150, 0.2);
  }

  .skills-btn-fixed {
    position: fixed;
    bottom: 1.25rem;
    right: 0;
    border: 0.05rem solid white;
    background-color: rgb(24, 115, 214);
    color: white;
    z-index: 101;
    font-size: 1.2rem;
    padding: 0;
    margin: 1rem 2rem auto 0;
    border-radius: 0.25rem;
    padding: 5px;
  }
}